.dataTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: var(--box-shadow);
}

.caption {
  caption-side: top;
  text-align: left;
  font-weight: 600;
  padding: 8px 4px;
  color: var(--dark-color);
}
