.tableActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.leftActions,
.rightActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionIcon {
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.actionIcon:hover {
  color: var(--dark-color);
}
