node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
/copilot*/
.idea/
.vscode/
node_modules/
dist/
build/
out/
.env
.env.local
.prettierignore
/src/routes-gen.ts
/src/stores-gen.ts
/src/routeTree.gen.ts
